#desc{
        background-color: green;
        border: solid 2px;
        border-color: silver;
    }
#members{
        border: solid 2px;
        border-color: silver;
        background-color: green;
    }